@import '../jspm_packages/npm/normalize.css@4.0.0/normalize.css';

body {
  background: #0d001a;
  color: #6f736e;

  h1 {
    margin-bottom: 10px;
  }

  #root {
    @import 'containers/Shell';
  }
}
