.product {
  .row {
    flex-direction: column;
    align-items: flex-start;


    .product {
      display:flex;

      .product-description {

      }

      .product-images {


      }
    }

  }

}
