.footer {
  background: linear-gradient( 0deg, #6f9922, #93be35 );
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  font-weight: 300;
  font-size: 0.8em;

  img {
    height: 40px;
  }

}
